html {
	height: 100%;
	background: hsl(215, 70%, 30%);
	color: hsl(0, 0%, 100%);
}

body {
	overflow: scroll;
	min-height: 100%;
}



main {
	padding: 20px;
}



nav.global {
	padding: 10px;
	white-space: nowrap;
}

nav.global h1.logo {
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;
}

nav.global form.search {
	display: inline-block;
	width: 400px;
	vertical-align: top;
}


h1.logo {
	font: 600 12px/1.2 Lato, sans-serif;
}

span.cube {
	display: inline-block;
	padding: 2.6em 0 0 0.5em;
	margin-right: 0.1em;
	background: hsl(0, 0%, 100%);
	color: hsl(215, 60%, 50%);
}

span.slash {
	position: relative;
	display: inline-block;
	width: 0.5em;
	color: transparent;
}

svg.slash {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: content-box;
	width: 1.2em;
	height: 3px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	-webkit-transform: translate(-50%, -50%) rotate(-70deg);
	transform: translate(-50%, -50%) rotate(-70deg);
}
