article.index,
article.interface,
article.dictionary,
article.enum {
	padding: 20px;
	margin: 20px;
	background-image: linear-gradient(hsl(215, 70%, 33%) 2px, transparent 2px),
	                  linear-gradient(90deg, hsl(215, 70%, 33%) 2px, transparent 2px),
	                  linear-gradient(hsl(215, 70%, 33%) 1px, transparent 1px),
	                  linear-gradient(90deg, hsl(215, 70%, 33%) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-repeat: repeat, repeat, repeat, repeat;
}





header.landmark {
/* 	border-bottom: 1px solid white; */
	margin-bottom: 20px;
	font: bold 30px/40px Body, sans-serif;
}


h1.title {
	position: relative;
	margin-bottom: 10px;
}

h1.title::after {
	position: absolute;
	top: 1.2em;
	left: 0;
	right: 0;
	content: '';
	height: 6px;
	border-top: 1px dashed white;
	border-bottom: 1px dashed white;
}


header.landmark span:not(.name) {
	color: hsl(215, 50%, 60%);
}

header.landmark span.name {
	position: relative;
	display: inline-block;
}

header.landmark span.name svg.underline {
	position: absolute;
	top: 1.2em;
	left: 0;
	right: 0;
	box-sizing: content-box;
	width: 100%;
	height: 4px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

header.landmark span.inheritance em {
	position: relative;
	color: hsl(215, 100%, 95%);
}

header.landmark span.inheritance em::after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	content: '';
	height: 4px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	background-image: linear-gradient(90deg, hsla(215, 100%, 100%, 1) 5px, transparent 5px),
	                  linear-gradient(90deg, hsla(215, 100%, 100%, 1) 10px, transparent 0),
	                  linear-gradient(90deg, transparent 0, hsla(215, 100%, 100%, 1) 0);
	background-repeat: repeat-x, no-repeat, no-repeat;
	background-size: 9px 1px;
	background-position: bottom, left bottom, right bottom;
}




article.index h2 {
	margin-top: 60px;
}

article.index h2::before,
article.index h2::after {
	white-space: pre;
	color: hsl(215, 30%, 60%);
	font-family: Code, monospace;
	-moz-tab-size: 4;
	tab-size: 4;
}

article.index h2::before { content: '/*\A  * ' }
article.index h2::after { content: '\A  */' }

article.index h2::before { content: '/*------------------------------------------------------------------------*\\\A\9' }
article.index h2::after { content: '\A */' }

ul.index {
	margin: 10px 0;
}

ul.index li {
	padding: 2px 0;
}

ul.index a {
/* 	padding: 10px 20px; */
}





ul.interface {}

ul.interface::before,
ul.interface::after { color: hsl(215, 30%, 60%) }

ul.interface::before {
	content: '// Hello World'
}

ul.interface > li {  }

ul.interface > li::before { content: 'new ' }
ul.interface > li::after { content: '();' }

ul.interface > li::before,
ul.interface > li::after {
	color: hsl(215, 30%, 60%);
}

ul.interface span.idltype,
ul.interface a.internal {
	color: hsl(215, 30%, 90%);
}









article.interface a {
	padding: 0 0.1em;
	color: hsl(270, 50%, 100%);
/* 	color: hsl(270, 50%, 70%); */
}

article.interface a svg.icon {
	width: .7em;
	height: .7em;
	margin-right: 0.1em;
}


article.index a.internal::before,
article.interface a.internal::before { content: '‹' }
article.index a.internal::after,
article.interface a.internal::after { content: '›' }


article.index a.inline,
article.interface a.inline { color: hsl(215, 70%, 90%); text-decoration: underline }

article.index a:hover,
article.interface a:hover {
	border-radius: 3px;
	background: hsl(215, 100%, 100%);
	color: hsl(215, 70%, 33%);
}



article.interface caption {
	text-align: left;
	font: 600 17px/20px Body, sans-serif;
}

article.interface caption span {
	display: inline-block;
	border-bottom: 2px solid;
	margin-bottom: 18px;
}



article.interface table {
	margin-bottom: 40px;
	font: normal 20px/30px Body, sans-serif;
}

article.interface td code.block {
	margin: 0;
}



.formatted {
	color: hsl(215, 100%, 90%);
	font: 18px/20px Code, monospace;
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre;
}

.formatted em {
	color: hsl(215, 100%, 100%);
	font-weight: bold;
}

.formatted span.sequence {
	color: hsl(215, 100%, 100%);
}


table.attributes td + td,
table.events td + td {
	padding-left: 10px;
}


article.interface table td:not(.name) {
	color: hsl(215, 50%, 60%);
}

article.interface td.nullable {}
article.interface td.type {}
article.interface td.name {
	font-weight: 500;
}


article.interface td.readonly {
	font-size: 0;
	line-height: 0;
}

article.interface td.readonly + td {
	padding-left: 0
}

article.interface span.readonly {
	display: inline-block;
	padding: 0.1em 0.3em;
	border-radius: 1em;
	margin: 0 0.4em 0 -0.0em;
	background: hsl(215, 50%, 60%);
	vertical-align: 0.25em;
	color: hsl(215, 70%, 33%);
	font: 12px/1 Code, monospace;
}

article.interface span.readonly[title],
article.interface span.inherited[title] {
	cursor: help;
}



table.inheritance th {
	text-align: right;
	padding-right: 10px;
}




article.dictionary {}

article.dictionary a.internal::before { content: '‹' }
article.dictionary a.internal::after { content: '›' }


ul.dictionary {}

ul.dictionary::before,
ul.dictionary::after { color: hsl(215, 30%, 60%) }
ul.dictionary::before { content: '{' }
ul.dictionary::after { content: '}' }

ul.dictionary > li { padding-left: 20px }

ul.dictionary > li::before,
ul.dictionary > li::after {
	color: hsl(215, 30%, 60%);
}

ul.dictionary > li:not(:last-child)::after { content: ',' }

ul.dictionary span.idltype,
ul.dictionary a.internal {
	color: hsl(215, 30%, 90%);
}






article.enum {}

ul.enum {}

ul.enum::before,
ul.enum::after { color: hsl(215, 30%, 60%) }
ul.enum::before { content: '[' }
ul.enum::after { content: ']' }

ul.enum > li { padding-left: 20px }

ul.enum > li::before,
ul.enum > li::after {
	color: hsl(215, 30%, 60%);
}
ul.enum > li::before { content: '“' }
ul.enum > li::after { content: '”' }
ul.enum > li:not(:last-child)::after { content: '”,' }
